html {
    font-size: 62.5%;
}

main {
    width: 100%;
    max-width: 1024px;
    margin: auto;
} 

ul {
    list-style-type: none;
}

.main-container {
    width: 60%;
    margin: auto;
    padding: 1em 0;
    font-size: 1.4rem;
}